body
{
    background-color: black;
    margin: 0%;
    height: 100vh;
    overflow: hidden;
}
.moon
{
    position: absolute;
    top: 100px;
    left: 70%;
    width: 120px;
    height: 120px;
    background-color: rgb(237, 231, 231);
    border-radius: 50%;
    box-shadow:0 0 40px 15px rgb(247, 200, 149);
    animation-name: shadow-ani;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes shadow-ani {
    from{box-shadow:0 0 15px 9px rgb(247, 200, 149)}
    to{ box-shadow: 0 0 60px 25px rgb(139, 139, 139)}
}
.star
{
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 1px 0.5px rgb(139, 139, 139);
}
#s1
{
    top: 100px;
    left: 70px;
}

#s2
{
    top: 10px;
    left: 70px;
}

#s3
{
    top: 101px;
    left: 70px;
}

#s4
{
    top: 102px;
    left: 70px;
}

#s5
{
    top: 103px;
    left: 70px;
}

#s6
{
    top: 104px;
    left: 70px;
}

#s7
{
    top: 105px;
    left: 70px;
}

#s8
{
    top: 106px;
    left: 70px;
}

#s9
{
    top: 107px;
    left: 70px;
}

#s10
{
    top: 108px;
    left: 70px;
} 